body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f06, #ffdd00);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.animated-text {
    font-size: 3em;
    color: white;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
